  {% extends 'core/base.html' %}
  {% load static %}
  {% block content %}
<blockquote class="blockquote text-center">
  <h1 class="mb-0">Hola de nuevo</h1>
  <h2>{{user}}</h2>
  <footer class="blockquote-footer mb-4">Sistema para laboratorio <cite title="Source Title"></cite></footer>
</blockquote>
              <!-- Earnings (Monthly) Card Example -->
        <div class="row ml-5">
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2 ">
                <a href="{% url 'ordenes:order-summary' %}">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <!--<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Earnings (Monthly)</div>-->
                      <div class=" text-center h5 mb-0 font-weight-bold text-gray-800">Nueva Orden Examenes</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-file-alt fa-3x" style="color:#5cb85c"></i>

                    </div>
                  </div>
                </div>
                </a>
              </div>
            </div><div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2 ">
                <a href="#">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <!--<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Earnings (Monthly)</div>-->
                      <div class="text-center h5 mb-0 font-weight-bold text-gray-800">Lista de Historias Clinicas</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-file-alt fa-3x" style="color:#f6c23e"></i>

                    </div>
                  </div>
                </div>
                </a>
              </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2 ">
                <a href="#">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <!--<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Earnings (Monthly)</div>-->
                      <div class="text-center h5 mb-0 font-weight-bold text-gray-800">Lista de Historias Clinicas</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-file-alt fa-3x" style="color:#f6c23e"></i>

                    </div>
                  </div>
                </div>
                </a>
              </div>
            </div>
        </div>

                <!-- Basic Card Example -->
              <div class="card shadow m-4 float-left">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Basic Card Example</h6>
                </div>
                <div class="card-body">
                  The styling for this basic card example is created by using default Bootstrap utility classes. By using utility classes, the style of the card component can be easily modified with no need for any custom CSS!
                </div>
              </div>

  {% endblock %}