  {% extends 'core/base.html' %}
  {% load static %}
  {% block extra_head %}
  {% endblock %}

  {% block content %}

  <h1>Eliminaste el examen del paciente "", de la fecha ""</h1>
  <h2>HOLIS</h2>
  <form method="POST">
  <div class="col mr-2">
  <!--<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Earnings (Monthly)</div>-->
    <a href="#">
      <div class="h5 mb-0 font-weight-bold text-gray-800" type="submit" value="Delete">Lista de pacientes</div>
    </a>
  </div>
    </form>

  {% endblock content %}