{% load crispy_forms_tags %}
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <h1 class="h3 mb-4 text-gray-800">Blank Page</h1>
    <div class="container-fluid">
        <form role="form" action="{% url 'core:historia_new'  %}" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{ form|crispy}}
        <div class="text-center">
            <input type="submit"  class="btn btn-primary btn-block py-2" value="Guardar" >
            <button type="button" class="btn btn-success" onclick="return cerrar_modal()">
                Cancelar
            </button>
        </div>
        </form>
    </div>
    </div>
</div>