{% extends "core/base.html" %}
{% load static %}
{% block content %}




{% if messages %}

<ul class="messages">
    <div class="alert alert-success" role="alert">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </div>
</ul>
{% endif %}


<div class="row">

<div class="col-6 ml-4  border-right">
<table id="dtBasicExample" class="table table-striped table-bordered table-sm " cellspacing="2" width="100%">

  <thead>
    <tr>
      <th class="th-sm">Nombre
      </th>
      <th class="th-sm">Precio
      </th>
      <th class="th-sm">Accion
    </tr>
  </thead>

  <tbody>
  {% for item in items %}
    <tr>
      <td><a href="{{ item.get_absolute_url }}">{{ item.item }}</a></td>
      <td>{{ item.price }}</td>
      <td><a href="{{ item.get_add_to_cart_url }}" class="btn btn-success flex-right">
    Añadir
    <i class="fa fa-plus-circle" aria-hidden="true"></i>
</a></td>
    </tr>
   {% endfor %}
  </tbody>


</table>
</div>




{% if messages %}

<ul class="messages">
    <div class="alert alert-success" role="alert">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </div>
</ul>
{% endif %}


<div class="vertical-line" style="height: 45px;">

</div>



  <main>
    <div class="container">

    <div class="table-responsive text-nowrap">
    <h2>Examenes agregados</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Subtotal</th>
        </tr>
        </thead>
        <tbody>
        {% for order_item in object.item.all %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ order_item.item.item }}</td>
            <td>{{ order_item.item.price }}</td>
            <td>
                <a href="{% url 'remove-single-item-from-cart' order_item.item.slug %}"><i class="fas fa-minus mr-2"></i></a>
                {{ order_item.quantity }}
                <a href="{% url 'add-to-cart' order_item.item.slug %}"><i class="fas fa-plus ml-2"></i></a>
            </td>
            <td>
            {% if order_item.item.discount_price %}
                ${{ order_item.get_total_discount_item_price }}
                <span class="badge badge-primary">Saving ${{ order_item.get_amount_saved }}</span>
            {% else %}
                ${{ order_item.get_total_item_price }}
            {% endif %}
            <a style='color: red;' href="{% url 'remove-from-cart' order_item.item.slug %}">
                <i class="fas fa-trash float-right"></i>
            </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan='5'>Your cart is empty</td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-primary float-right' href='/'>Continuar</a>
            </td>
        </tr>
        {% endfor %}
        {% if object.coupon %}
        <tr>
            <td colspan="4"><b>Coupon</b></td>
            <td><b>-${{ object.coupon.amount }}</b></td>
        </tr>
        {% endif %}
        {% if object.get_total %}
        <tr>
            <td colspan="4"><b>Order Total</b></td>
            <td><b>${{ object.get_total }}</b></td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-warning float-right ml-2' href='/ordenes/checkout/'>Proceed to checkout</a>
            <a class='btn btn-primary float-right' href='/'>Continue shopping</a>
            </td>
        </tr>
        {% endif %}
        </tbody>
    </table>

    </div>

    </div>
  </main>
  </div>

{% endblock content %}

{% block js_page %}
<script>
    $(document).ready(function () {
$('#dtBasicExample').DataTable();
$('.dataTables_length').addClass('bs-select');
});
</script>
{% endblock %}
